:root {
  --px-10: 0.625rem;
  --px-12: 0.75rem;
  --px-14: 0.875rem;
  --px-16: 1rem;
  --px-20: 1.25rem;
  --px-30: 1.875rem;
  --px-40: 2.5rem;
  --px-50: 3.125rem;
  --px-100: 6.25rem;
  --px-450: 28.125rem;

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e2e8fa;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

p {
  font-size: var(--px-16);
  color: var(--desaturated-blue);
}

/* Main container */

.card-container {
  text-align: center;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: var(--px-450);
  background-color: white;
  border-radius: 20px;
}

.card-container img {
  border-radius: 20px 20px 0 0;
}

/* Content */

.content {
  padding: 4%;
}

.content > p {
  padding: 0 7% 3% 7%;
}

/* Plan */
.plan {
  position: relative;
  background-color: var(--very-pale-blue);
  padding: 5% 6%;
  border-radius: 20px;
  margin: 5%;
}

.plan img,
.plan .plan-cost {
  display: inline-block;
}

.plan img {
  position: absolute;
  left: 5%;
  top: 25%;
}

.plan .plan-cost > * {
  margin: var(--px-10) auto;
}

.plan-cost {
  margin-right: 30%;
}

.plan a {
  display: inline-block;
  transform: translate(100%, -80%);
  color: var(--bright-blue);
  font-weight: 700;
  position: absolute;
  right: 20%;
  top: 50%;
}

/* buttons */

.payment-btn {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  padding: 3%;
  margin: 5% 5%;
  width: 90%;
  text-align: center;
  border-radius: 12px;
  box-shadow: 5px 10px 30px hsl(245, 63%, 80%);
  font-weight: 700;
  font-size: var(--px-16);
  border: none;
  cursor: pointer;
}

.payment-btn:hover {
  background-color: hsl(245, 70%, 71%);
}

.cancel-btn {
  text-decoration: none;
  padding: 15%;
  color: var(--desaturated-blue);
  font-weight: 700;
}

/* Media queries */
@media screen and (min-width: 320px) and (max-width: 7px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-container {
    max-width: 80%;
  }

  .card-container > img {
    max-width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .plan img {
    left: 3%;
  }

  .plan-cost {
    margin-right: 15%;
  }

  .plan a {
    right: 30%;
  }
}
